<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mumacj.personnelstatisticsbackend.dao.GetInInfoMapper">
  <resultMap id="BaseResultMap" type="com.mumacj.personnelstatisticsbackend.entity.GetInInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="in_time" jdbcType="TIMESTAMP" property="inTime" />
    <result column="temperature" jdbcType="DOUBLE" property="temperature" />
    <result column="whe_leave" jdbcType="VARCHAR" property="wheLeave" />
    <result column="health_code" jdbcType="VARCHAR" property="healthCode" />
    <result column="registe_people" jdbcType="VARCHAR" property="registePeople" />
    <result column="regist_time" jdbcType="TIMESTAMP" property="registTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, id_card, name, address, in_time, temperature, whe_leave, health_code, registe_people, 
    regist_time
  </sql>

  <insert id="insert" parameterType="com.mumacj.personnelstatisticsbackend.entity.GetInInfo">
    insert into get_in_info (id,id_card, name, address,
      in_time, temperature, whe_leave,
      health_code, registe_people, regist_time
      )
    values (#{id}, #{idCard,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
      #{inTime,jdbcType=TIMESTAMP}, #{temperature,jdbcType=DOUBLE}, #{wheLeave,jdbcType=VARCHAR},
      #{healthCode,jdbcType=VARCHAR}, #{registePeople,jdbcType=VARCHAR}, #{registTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <select id="getAllInfos" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
     from get_in_info
  </select>

  <select id="getInfosByTimeOrName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from get_in_info
    where 1 = 1
    <if test="start != null and end != null">
        and in_time &gt;= #{start} and in_time &lt;= #{end}
    </if>
    <if test="name != null and name !=''"> and name = #{name} </if>
  </select>

  <update id="updateByPrimaryKey" parameterType="com.mumacj.personnelstatisticsbackend.entity.GetInInfo">
    update get_in_info
    set name = #{name,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      temperature = #{temperature,jdbcType=VARCHAR},
      in_time = #{inTime},
      whe_leave = #{wheLeave},
      health_code = #{healthCode}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <delete id="deleteByPrimaryKey" parameterType="String">
    delete from get_in_info
    where id = #{id}
  </delete>

  <select id="getTemps" parameterType="String" resultType="map">
    select temperature,in_time from get_in_info
    where id_card = #{idCard}
    ORDER BY in_time ASC
    LIMIT 7
  </select>

</mapper>